h2 {
    margin: 0;
  }
  .login {
    width: 480px;
    display: flex;
    flex-direction: column;
  margin: auto;
  padding-top: 180px;
  }
  .edit {
    display: grid;
    gap: 24px;
    justify-items: center;
  }
  .actions {
    padding-top: 80px;
    white-space: nowrap;
  }
  .action {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  